{% extends 'quotes/base.html' %}

{% block content %}

    {% if form.errors and form.non_field_errors %}
    <div class='alert alert-danger' role='alert'>
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <h2>Password reset</h2>

    <form method="post" accept-charset="utf-8">
        {% csrf_token %}
            <div class="row">
                <div class="form-group col-xs-3">
                    <label>Email</label>
                    {{ form.email }}
                </div>
                <span>{{form.errors.email}}</span>
            </div>
            <input type="submit" value="Request password reset" class="btn btn-primary">

    </form>

{% endblock %}