{% extends 'quotes/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8">

            {% for quote in quotes %}
            <div class="quote" itemscope="" >
                <span class="text" itemprop="text">{{ quote.quote }}</span>
                <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small>
                    <a href="{{ quote.author.get_absolute_url }}">(about) </a>
                </span>
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                    <a class="tag" href="/tag/change/page/1/">{{ tag.name }}</a>
                    {% endfor %}

                </div>
            </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}

