{% extends 'quotes/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8">

            {% for quote in quotes %}
            <div class="quote" itemscope="" >
                <span class="text" itemprop="text">{{ quote.quote }}</span>
                <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small>
                    <a href="{{ quote.author.get_absolute_url }}">(about) </a>
                </span>
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                    <a class="tag" href=#>{{ tag.name }}</a>
                    {% endfor %}

                </div>
            </div>
            {% endfor %}

            {% if is_paginated %}
            <nav>
                <ul class="pager">
                    {% if page_obj.has_previous %}

                    <li class="previous">
                        <a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}

                        <li class="next">
                            <a href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">→</span></a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}

        </div>

    </div>

{% endblock %}

